.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}


.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr > td {
  border-top: 0;
}
.toppad
{
  margin-top:60px;
  margin-left:130px;
}

.checkBox {
  width: 20px;
  height: 10px;
  margin: 7px 15px;
  position: relative;
  border-radius: 3px;
}

.hide-user {
  opacity: .5;
  text-decoration: line-through;
}

